/*Parte Pafi*/

/*Login*/
.main{
    background: #CBDEBA;
}

.container {
    display: flex;
    width: 100%;
    background: #CBDEBA;
    border-radius: 8px;
    overflow: hidden;
    max-width: 1800px; 
    margin: 20px; 
}

/* Sección del formulario */
.form-section {
    flex: 1 1 60%;
    box-sizing: border-box;
}


.form-section form {
    display: flex;
    flex-direction: column;
}

/* Estilo para las etiquetas y entradas */

.form-section form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #483C1F;
    border-radius: 100px;
    height: 30px; 
    box-shadow: 0px 4px 4px rgb(134, 133, 133);
    margin-right: 100px;
    margin-left: 100px;
}

/* Enlace para "¿Olvidó su contraseña?" */
.forgot-password {
    margin-bottom: 15px;
    font-family: 'Nunito';
    font-size: 20px;
    color: #61462E;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
}

.forgot-password:hover {
    text-decoration: underline;
}


/* Botones sociales */
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.social-buttons .social-btn {
    width: 40px;
    height: 40px;
    background: none; 
    border: none; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%; 
}

.social-buttons .social-btn img {
    width: 100%; 
    height: auto; 
}


/* Botón de registro */
.register-btn {
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #218838;
}

/* Sección del logo */
.logo-section {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CBDEBA;
    max-width: 90%; 
    height: auto; 
}

.logo-section img {
    max-width: 100%;
    height: auto;
    flex: 1 1 30%;
}

/*Extras*/
.title-login{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 48px;
    color: #419F34;
    margin-bottom: 20px;
    text-align: center;
}

.subtitle-login{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    color: #61462E;
    margin-bottom: 5px;
    margin-right: 100px;
    margin-left: 100px;
}

.other-text{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 24px;
    color: #419F34;
    margin-bottom: 10px;
    text-align: center;
}

input::placeholder {
    color: #483C1F; 
    font-family: 'Nunito';
    opacity: 1;
}

.btn{
    padding: 10px;
    font-size: 16px;
    background-color: #419F34;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-weight: bold;
    box-shadow: 0px 4px 4px rgb(134, 133, 133);
    width: 200px; 
    height: 20px; 
    text-align: center;
    display: block;
    margin: 20px auto;
}

.btn:hover {
    background-color: #28551D; 
}

.home .ir--atras {
    width: 30%;
    height: auto;
    cursor: pointer;

}

/* Estilos responsivos */

@media (max-width: 1540px) {

    .titulo{
        margin-top: 50px;
    }
    
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-section {
        flex: 1 1 100%;
    }

    .logo-section{
        display: none;
    }

    .title-login{
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 30px;
        color: #419F34;
        margin-bottom: 20px;
        text-align: center;
    }

    .subtitle-login{
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 17px;
        color: #61462E;
        margin-bottom: 5px;
        margin-right: 100px;
        margin-left: 100px;
    }
    
    .other-text{
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 15px;
        color: #419F34;
        margin-bottom: 10px;
        text-align: center;
    }
    
    
    .btn{
        padding: 10px;
        font-size: 15px;
        background-color: #419F34;
        color: #fff;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        margin-bottom: 10px;
        font-family: 'Poppins';
        font-weight: bold;
        box-shadow: 0px 4px 4px rgb(134, 133, 133);
        width: 140px; 
        height: 20px; 
        text-align: center;
        display: block;
        margin: 20px auto;
    }
}

@media (max-width: 450px) {
    .container {
        flex-direction: column;
    }

    .form-section {
        flex: 1 1 100%;
    }

    .logo-section{
        display: none;
    }

    .title-login{
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 30px;
        color: #419F34;
        margin-bottom: 20px;
        text-align: center;
    }

    .subtitle-login{
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 17px;
        color: #61462E;
        margin-bottom: 5px;
        margin-right: 100px;
        margin-left: 100px;
    }
    
    .other-text{
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 15px;
        color: #419F34;
        margin-bottom: 10px;
        text-align: center;
    }
    
    
    .btn{
        padding: 10px;
        font-size: 15px;
        background-color: #419F34;
        color: #fff;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        margin-bottom: 10px;
        font-family: 'Poppins';
        font-weight: bold;
        box-shadow: 0px 4px 4px rgb(134, 133, 133);
        width: 140px; 
        height: 20px; 
        text-align: center;
        display: block;
        margin: 20px auto;
    }
}
