
.body-container{
    background-color:rgb(203, 222, 186);
    
    }
    
    .open-sidebar{
        cursor: pointer;
        z-index: 12;
        position: relative;
        display: none;
        margin: 10px;
    }
    
    .close-sidebar{
    cursor: pointer;
    display: none;
    z-index: 120;
    margin-left: 10%;
    margin-top: 10%;
    
    border-radius: 50%;
    border: none;
    outline: none;
    background-image: url("img/background/equis.png");
    height: 35px;
    width: 35px;
    rotate: 45deg;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    flex-direction: row;
    }
    
    
    
    .main-container{
    
    margin-top: 200px;
    height: 100%;
    
    }
    .chatbot-container{
    background-color:rgb(203, 222, 186);
    position: relative;
    display: flex;
    height: 550px;
    margin-left: 1%;
    z-index: 1;
    width: 98%;
    
    
    }
    
    .menu-left {
    
    background-color: rgb(65,159, 52) ;
    color: rgb(255, 255, 255);
    width: 20%;
    height: 100%;
    
    }
    .menu-left h3{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        position: relative;
        margin-left: 10%;
        margin-top: 20%;
    } 
    .menu-left ul{
    
    list-style-type: disc;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    position: relative;
    }
    .menu-left p{
    font-family: "Poppins", sans-serif;
    
    position: relative;
    font-size: smaller;
    margin-top: 300px;
    margin-left: 20px;
    }
    
    .menu-left p:hover{
    position: relative;
    text-decoration: underline;
    cursor:pointer;
    
    
    }
    
    .chatbot-panel{
    
    background-color: white ;
    border:  3px solid rgb(65,159, 52) !important;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
    }
    
    .upper-chatbot-div{
        text-align: center;
    margin-right: 60px;
    justify-self: center;
    flex-direction: column;
    
    }
    
    .lower-chatbot-div{
    
    margin-top: 300px;
    margin-left: 20%;
    flex-direction: row;
    gap: 20px;
    display: flex;
    }
    
    
    .barra-chat{
    
    position: relative;
    z-index: 10;
    color: rgba(72, 60, 31, 1);
    width: 60%;
    
    }
    
    .barra-chat input[type = "text"]{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    
    color: rgba(72, 60, 31, 1);
    
    }
    .chatbot-panel h3{
        font-family: "Poppins", sans-serif;
        color: rgb(65,159, 52) ;
        font-weight: 700;
        margin-left: 45%;
    
    }
    .logo-chat{
    margin-left: 50%;
    }
    
    .botonfoto{
    align-items: center;
        display: flex;
    }
    
    .botonfoto button{
    
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
    z-index: 11; 
    }
    
    .botonfoto button:hover{
    
    border-color:  rgb(65,159, 52) ;
    color: rgb(65,159, 52);
    
    }
    
    
    .send-msg-btn button{
    
        width: 40px;
        height: 35px;
        cursor: pointer;
        z-index: 11; 
    background-image: url(img/background/send.png);
    background-position: 20% 40%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: white !important;
    border-radius: 10px;
    }
    
    
    
    
    
    
    .boton-regreso{
    
        
        height: 35px;
        width: 35px;
        border-radius: 10px;
        display:flex;
        margin-top: 30px;
        margin-left: 20px;
        background-image: url("img/background/return-arrow.png");
        background-size: 190%;
        background-position: center;
        cursor:pointer;
        z-index: 20;
    }
    
 
    
    

@media (max-width:425px){


        .menu-left p{
        
        margin-top: 250px;
        }
        
        .upper-chatbot-div{
        
            margin-right: 25%;
        }
        
        .chatbot-panel{
        
        box-sizing: border-box;
        
        }
        
        .lower-chatbot-div{
        
            margin-left: 2%;
        }
        
}
        
        
